[class*="span"] {
    background: #eee;
    margin-bottom: 10px;
}
 
#banner{
    /* background-color: ; */
    background: #eee;
}
 
 
.thumbnails {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    gap: 10px;
}
 
.hero-unit {
    margin-bottom: 20px;
}
 
.sidebar {
    margin-top: 20px;
}